<%- include('partials/postheader') %>
<div class="text-center align-middle text-danger">
<i style="font-size: 80px;" class="far fa-frown"></i>
<br><br>
<h6 style="font-size: 40px;">Page not found!! Try something else!</h6>
</div>
<%- include('partials/postfooter') %>