<%- include('partials/postheader') %>
<title>About | BLOG POST</title>
<p class="content">BLOG POST is a place where you can post <mark>text-only</mark> blogs with a title. You have to make a profile to read others blogs and post a blog yourself. Your data and passwords are <mark> fully secured. </mark>You can also sign-in with Google. <br>About the developer <i class="fas fa-angle-double-down"></i></p>
<div style="align-items: center;" class="profile mt-5">
  <div class="dp">
    <img class="dpimg" style="border: 5px solid #17a2b8;" src="/images/me.jpg" alt="">
  </div>
  <div class="name">
    <h2>Shivam Rai</h2>
      <p style="font-weight: 300;"><strong>About me: </strong>Trying to figure that out myself but if you know
        something, do tell!! <i class="fas fa-angle-double-down"></i></p>
    <div class="edit-button mb-4">
      <a class="btn btn-outline-danger" target="blank" href="mailto: shivamrai0401@gmail.com"><i
          class="fas fa-envelope"></i></a>
      <a class="btn btn-outline-info" href="https://wa.me/+918957866455" target="blank"><i
          class="fab fa-whatsapp"></i></a>
      <a class="btn btn-outline-warning" href="https://www.instagram.com/shivamr.ai" target="blank"><i
          class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-success" href="tel: +918726306694" target="blank"><i class="fas fa-phone"></i></a>
    </div>
  </div>
</div>
<blockquote class="blockquote text-right">
  <p class="mb-0 mr-2"><em>""YOU MISS 100% OF THE SHOTS YOU DON'T TAKE.<span class="blockquote-footer mr-4">WAYNE
        GRETZKY"</span><span class="blockquote-footer">MICHAEL SCOTT"</span></em></p>
  <footer class="blockquote-footer">SHIVAM RAI</footer>
</blockquote>
<%- include('partials/postfooter') %>