<%- include('partials/postheader') %>
<div class="text-center align-middle text-danger">
<i style="font-size: 80px;" class="far fa-angry"></i>
<br><br>
<h6 style="font-size: 40px;">You don't have permission to alter this file.</h6>
</div>
<%- include('partials/postfooter') %>